body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .calculator,
  .parity-checker {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 100px;
    padding-right:30px;
  }
  
  .calculator {
    width: 320px;
    max-width: 100%;
  }
  
  .parity-checker {
    width: 280px;
    max-width: 100%;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-right:0px;
    align-items: center;
  }
  
  button {
    width: 100%;
    padding: 26px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  